

    <ion-header>
      <ion-toolbar>
        <ion-title size="medium">Summary</ion-title>
      </ion-toolbar>
    </ion-header>

  
  <ion-content>

      <ion-card (click)="spendClicked()">
        <ion-card-header>
          <ion-card-subtitle color="secondary">Spend Summary</ion-card-subtitle>
          <ion-card-title color="primary">Current Month</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Total Spend: <span *ngIf="!isLoading" class="value">{{ spend | currency}}</span>
          <span *ngIf="isLoading" class="ion-text-center ion-padding">
            <ion-spinner color="primary"></ion-spinner>
          </span>
        </ion-card-content>
      </ion-card>
      <ion-card (click)="budgetClicked()">
        <ion-card-header>
          <ion-card-subtitle color="secondary">Monthly Budget</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Budget: <span *ngIf="!isLoading" class="value">{{ budget | currency}}</span>
          <span *ngIf="isLoading" class="ion-text-center ion-padding">
            <ion-spinner color="primary"></ion-spinner>
          </span>
        </ion-card-content>
        <ion-card-content>
          Remainder: <span *ngIf="!isLoading" class="value">{{ remainder | currency}}</span>
          <span *ngIf="isLoading" class="ion-text-center ion-padding">
            <ion-spinner color="primary"></ion-spinner>
          </span>
        </ion-card-content>
      </ion-card>

</ion-content>
