
<ion-content [fullscreen]="true">
  <ion-nav>
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="medium">Summary</ion-title>
        </ion-toolbar>
      </ion-header>
  </ion-nav>

      <ion-card (click)="spendClicked()">
        <ion-card-header>
          <ion-card-subtitle>Spend Summary</ion-card-subtitle>
          <ion-card-title>Current Month</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Total Spend: <span *ngIf="!isLoading" class="value">{{ spend | currency}}</span>
          <span *ngIf="isLoading" class="ion-text-center ion-padding">
            <ion-spinner color="primary"></ion-spinner>
          </span>
        </ion-card-content>
      </ion-card>
      <ion-card (click)="budgetClicked()">
        <ion-card-header>
          <ion-card-subtitle>Monthly Budget</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Budget: <span *ngIf="!isLoading" class="value">{{ budget | currency}}</span>
          <span *ngIf="isLoading" class="ion-text-center ion-padding">
            <ion-spinner color="primary"></ion-spinner>
          </span>
        </ion-card-content>
        <ion-card-content>
          Remainder: <span *ngIf="!isLoading" class="value">{{ remainder | currency}}</span>
          <span *ngIf="isLoading" class="ion-text-center ion-padding">
            <ion-spinner color="primary"></ion-spinner>
          </span>
        </ion-card-content>
      </ion-card>

</ion-content>
