ion-content ion-toolbar {
  --background: translucent;
}

ion-grid {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
margin-bottom: 5rem;
}

ion-row {
  width: 100%
}

ion-item {
  width: 100%;
}

ion-button {
  width: 100%;
}

ion-icon {
  padding-right: 1rem;
}
