

    <ion-header>
      <ion-toolbar>
        <ion-title size="medium">Settings</ion-title>
      </ion-toolbar>
    </ion-header>


  <ion-content>
  <ion-card (click)="budgetClicked()">
    <ion-card-header>
      <ion-card-subtitle color="secondary">Set Budget</ion-card-subtitle>
      <ion-card-title color="primary">Current Budget</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Budget: <span *ngIf="!isLoading" class="value">{{ budget | currency}}</span>
      <span *ngIf="isLoading" class="ion-text-center ion-padding">
        <ion-spinner color="primary"></ion-spinner>
      </span>
    </ion-card-content>
  </ion-card>
</ion-content>
